.—Åontainer {
  display: flex;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.addTodo, .search{
  flex-grow: 1;
	min-width: 340px;
  padding: 12px 16px;
  border: 1px solid #f48fb1;
  border-radius: 8px;
  font-size: 16px;
  color: #333;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.addTodo:focus {
  border-color: #f06292;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.addBtn, .searchBtn {
  background-color: #f48fb1;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}

.addBtn:hover {
  background-color: #f06292;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.addBtn:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



.search {
  border-color: #b39ddb;
}

.search:focus {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.searchBtn {
  background-color: #9575cd;
  color: white;
  width: 50%;
	margin-right: 10px;
}

.searchBtn:hover {
  background-color: #7e57c2;
  box-shadow: 0 4px 6px rgba(121, 93, 198, 0.2);
}

.searchBtn:disabled{
	background-color:#b0acb7;
}
